<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871927206730-ishvajgsh2ra4nfqr0c55torniaqlro4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871927206730-ishvajgsh2ra4nfqr0c55torniaqlro4</string>
	<key>API_KEY</key>
	<string>AIzaSyBnEr6teCWdx3fppbtLAwYuTkzM9709Zyg</string>
	<key>GCM_SENDER_ID</key>
	<string>871927206730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>You.Time-Of-Work-new</string>
	<key>PROJECT_ID</key>
	<string>time-of-work-debug</string>
	<key>STORAGE_BUCKET</key>
	<string>time-of-work-debug.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:871927206730:ios:5ff61ea4cfc75c7aac67b3</string>
</dict>
</plist>
