<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>446742433944-f9t96mmd2m1cp7lm14hq9gvsj4bt1n5i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.446742433944-f9t96mmd2m1cp7lm14hq9gvsj4bt1n5i</string>
	<key>API_KEY</key>
	<string>AIzaSyCfoVNquwYM3hRI7xE3mhN4O_Silu3B44U</string>
	<key>GCM_SENDER_ID</key>
	<string>446742433944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>You.Time-Of-Work-new</string>
	<key>PROJECT_ID</key>
	<string>time-of-work</string>
	<key>STORAGE_BUCKET</key>
	<string>time-of-work.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:446742433944:ios:414f05a87517d35609c0ed</string>
</dict>
</plist>